<div class="main">
    <h1>LOGIN</h1>
    <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
        <div class="div1">
            <label for="username" class="label">Username</label>
            <br>
            <input ngModel id="input-text" type="text" name="username" #username="ngModel" placeholder="Enter Username"/></div>
      <br>
      <div class="div2">
        <label for="password" class="label">Password</label>
        <br>
        <input id="input-text"  ngModel type="password" name="password" required #password="ngModel" placeholder="Enter Password"/></div>
        <br>
      <div class="btn-div">
        <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">
          Login
        </button>
    </div>
    <br>
    <div>
        <a routerLink="/reset" style="color: rgba(255, 255, 255, 0.664);">Forgot Password? Reset here</a>
      </div>
    </form>
  </div>
  